/* Button Hover Effct Styles */
.hoverExpand {
	position: relative;
	overflow: hidden;
	z-index: 1;
	color: white;
	transition: color 300ms ease-in-out;
}
.hoverExpand.inverted {
	background-color: transparent;
	color: #9381ff;
	border: 2px solid #9381ff;
}
.hoverExpand.google {
	background-color: #fca79b;
}
.hoverExpand::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 48px;
	background-color: antiquewhite;
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 300ms ease-in-out;
	z-index: -1;
}
.hoverExpand.inverted::before {
	background-color: #9381ff;
}
.hoverExpand::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
	height: 48px;
	background-color: antiquewhite;
	transform: scaleX(0);
	transform-origin: top right;
	transition: transform 300ms ease-in-out;
	z-index: -1;
}
.hoverExpand.inverted::after {
	background-color: #9381ff;
}
.hoverExpand:hover {
	color: #9381ff;
}
.hoverExpand.inverted:hover {
	color: antiquewhite;
}
.hoverExpand.google:hover {
	color: #fca79b;
}
.hoverExpand:hover::before {
	transform: scaleX(1);
	transform-origin: top right;
}
.hoverExpand:hover::after {
	transform: scaleX(1);
	transform-origin: top left;
}

.border-custom {
	border: 1px solid red;
}

/* Sidebar Styles for smooth sliding */
.nonactive-chatlist {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 250px;
	height: 100%;
	z-index: 10;
	transform: translateX(-250px);
	transition: 300ms transform ease-in-out;
	box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
}
.nonactive-chatlist.active {
	transform: translateX(0px);
	z-index: 10;
	transition: 300ms transform;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 250px;
	height: 100vh;
}
